[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
flask = "*"
sqlalchemy = "*"
marshmallow = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-user = "*"

[requires]
python_version = "3.6"
